{% load static %}
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" type="text/css" href="{% static 'bootstrap.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
    <title>Title</title>
</head>
<body>
<!--네비게이션바-->
{% include "navbar.html" %}
<!--기본 템플릿 안에 삽입될 내용 start-->
{% block content %}
<!--기본 템플릿 안에 삽입될 내용  end-->
{% endblock %}
<!--bootstrap js-->
<script src="{% static 'bootstrap.min.js' %}"></script>
</body>
</html>